# Pacotes essenciais
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
requests==2.32.3
urllib3==2.3.0

# Data Science e Análise de Dados
numpy==2.2.3
pandas==2.2.3

# Jupyter e IPython
ipykernel==6.29.5
ipython==9.0.1
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyter-server==2.15.0
jupyterlab==4.3.5
notebook==7.3.2
nest-asyncio==1.6.0
traitlets==5.14.3
tornado==6.4.2
matplotlib-inline==0.1.7
